In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn import tree

In [ ]:
df= pd.read_csv("/content/wdbc (1).data", header= None)

In [ ]:
df
# df=df.drop(labels=0,axis=1) #idyi attÄ±m

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [ ]:
X = df[[*range(2,32)]] #loc yerine bÃ¶yle sÃ¼tunlarÄ± alabilirsin iloc yavaÅ Ã§alÄ±ÅÄ±yor ayrÄ±ca
y = df[1]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, shuffle=True)  #preprocessingten once train test diye ayÄ±rmalÄ±yÄ±m
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(381, 30) (188, 30) (381,) (188,)

In [ ]:
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
dtype: int64

In [ ]:
df[1].value_counts()

B    357
M    212
Name: 1, dtype: int64

In [ ]:
df=df.drop(labels=0,axis=1)

In [ ]:
df.shape

(569, 31)

# Data Preprocessing

Preprocessing is given below.

In [ ]:
df[[1]]

     1
0    M
1    M
2    M
3    M
4    M
..  ..
564  M
565  M
566  M
567  M
568  B

[569 rows x 1 columns]

In [ ]:
normalized_x_train=preprocessing.normalize(X_train,norm="l2")

In [ ]:
normalized_x_test=preprocessing.normalize(X_test,norm="l2")

# Model

####naive bayes

In [ ]:
my_naiveB = GaussianNB()

In [ ]:
y_pred = my_naiveB.fit(X_train, y_train)

In [ ]:
predictions=y_pred.predict(X_test)

In [ ]:
accuracy_score(predictions,y_test)

0.925531914893617




####decision tree

In [ ]:
my_decisionT= tree.DecisionTreeClassifier()

In [ ]:
my_decisionT.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
my_decisionT_prediction =my_decisionT.predict(X_test)

In [ ]:
accuracy_score(my_decisionT_prediction,y_test)

0.925531914893617